
body {
	color: var(--vscode-editor-foreground);
	background-color: var(--vscode-editor-background);
	font-family: Verdana, Arial, sans-serif;
	font-size: 11pt;
}

table {
	width: 100%;
}

td {
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}

pre, code {
	white-space: pre-wrap;
	color: var(--vscode-editor-foreground);
	font-family: "Courier New", Courier, monospace;
	font-size: 90%;
}

body.vscode-dark img {
	filter: invert(1);
}

a:not([href]) {
	color: var(--vscode-editor-foreground) !important;
}

